// Specific CSS for your home-page
  // background-image: url("https://png.pngtree.com/png-clipart/20201229/ourmid/pngtree-large-white-blur-halo-png-image_2648404.jpg");
  // background-image: cover;
  // background-image: linear-gradient(105deg, rgba(14, 13, 48, 0.503) 39%, rgba(51,56,57,1) 96%);
.container {
  background: radial-gradient(circle at left, rgb(201, 201, 201) 10%, rgb(72, 72, 72) 70%), #000;
  // background-image: linear-gradient(to right, #dedede, #ff8000, #121318);
  // background-clip: content-box;
  // background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQAOCdv_JKAHqtgtrWur5UxsakC0_Zu5aI-mxYHu1sePkl1aR7-");
  margin-bottom: 55px;
}

.body{
  margin: 0 20px;
}
.container-bookings{
  background: radial-gradient(circle at left, rgb(201, 201, 201) 10%, rgb(72, 72, 72) 70%), #000;
}

.body-bookings{
  margin: auto;
  width: auto;
  height: 2000px;
  background: radial-gradient(circle at left, rgb(201, 201, 201) 10%, rgb(72, 72, 72) 70%), #000;
}

h1{
  text-align: center;
  font-size: 50px;
  color: #ffffffa1;
  text-shadow: 0 0 10px #ffffffe0, 0 0 20px #ffffffe0, 0 0 30px #ffffffe0, 0 0 40px #5D3891, 0 0 70px #5D3891, 0 0 80px #5D3891, 0 0 100px #5D3891, 0 0 150px #5D3891;
  // animation: neon 1s ease-in-out infinite alternate;
  font-family: 'Kanit', sans-serif;
}

@keyframes neon {
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #5D3891, 0 0 35px #5D3891, 0 0 40px #5D3891, 0 0 50px #5D3891, 0 0 75px #5D3891;
  }
}

.title{
  color:white;
  font-family: 'Kanit', sans-serif;
}

.description h2{
  color: white;
  font-family: 'Kanit', sans-serif;
}

.description p{
  color: white;
  font-family: 'Kanit', sans-serif;
}

.caroussel-inner {
  display: flex,
}

.caroussel-item img{
  display:block;
}

.d-block{
  border-radius: 5px;
}
