// .container-filtre{
  // background: radial-gradient(circle at right, rgb(201, 201, 201) 20%, rgb(72, 72, 72) 50%), #000;
//   height: 100vh;
// }

.filtre-new{
  margin: 0 20px;
  color: #FC814A;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

// .filtre select,
// .filtre input[type="text"],
// .filtre input[type="submit"] {
//   border-radius: 7px;
// }

.container-filtre {
  // background: radial-gradient(circle at right, #E8E8E8 10%, #96939B 70%), #000;
  padding: 20px;
  background-color: #000;
  }

  .logo img {
  max-width: 100%;
  }

  .filtre {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
  }

  .input-group {
    margin-bottom: 20px;
  }

  .input-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .input-group select,
  .input-group input[type="text"],
  .input-group input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: #E8E8E8;
    font-size: 1.2rem;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
  }

  .input-group input[type="submit"] {
    background-color: #FC814A;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .input-group input[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #FC814A;
    border: 2px solid #FC814A;
  }

  .button {
    display: inline-block;
    background-color: #FC814A;
    color: #fff;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    margin-top: 20px;
  }

  .button:hover {
    background-color: #FF9C5B;
    color: #FFFFFF;
  }

  @media screen and (max-width: 768px) {
  .filtre {
  max-width: 100%;
  }
  }

.form-label {
  color: #F94892;
  font-family: 'Rubik Mono One', sans-serif;
}

.col-form-label{
  color: #F94892;
  font-family: 'Rubik Mono One', sans-serif;
}

  .category-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
  }

  .category-item {
    flex: 0 0 30%;
  }

  .category-selector {
    position: absolute;
    transform: scale(0);
  }

  .category-selector + label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 10px 10px 20px 10px;
    border: 1px solid #F94892;
    border-radius: 12px;
    background-color: white;
    font-family: 'Kanit', sans-serif;
    line-height: 100%;
  }

  .category-selector:checked + label {
    color: white !important;
  }


  #activity_category_bar + label {
    color: #FD1015;
  }

  #activity_category_bar:checked + label {
    background-color: #FD1015;
    border-color: #FD1015;
  }


  #activity_category_restaurant + label {
    color: #FFC65A;
  }

  #activity_category_restaurant:checked + label {
    background-color: #FFC65A;
    border-color: #FFC65A;
  }


  #activity_category_patinoire + label {
    color: #62DDF5;
  }

  #activity_category_patinoire:checked + label {
    background-color: #62DDF5;
    border-color: #62DDF5;
  }

  #activity_category_bowling + label {
    color: #62DDF5;
  }

  #activity_category_bowling:checked + label {
    background-color: #62DDF5;
    border-color: #62DDF5;
  }

  #activity_category_piscine + label {
    color: #62DDF5;
  }

  #activity_category_piscine:checked + label {
    background-color: #62DDF5;
    border-color: #62DDF5;
  }

  #activity_category_escape_game + label {
    color: #62DDF5;
  }

  #activity_category_escape_game:checked + label {
    background-color: #62DDF5;
    border-color: #62DDF5;
  }

  #activity_category_quizz + label {
    color: #62DDF5;
  }

  #activity_category_quizz:checked + label {
    background-color: #62DDF5;
    border-color: #62DDF5;
  }

  #activity_category_parc_activites + label {
    color: #62DDF5;
  }

  #activity_category_parc_activites:checked + label {
    background-color: #62DDF5;
    border-color: #62DDF5;
  }

  #activity_category_karaoke + label {
    color: #62DDF5;
  }

  #activity_category_karaoke:checked + label {
    background-color: #62DDF5;
    border-color: #62DDF5;
  }

  #activity_category_club_de_tir + label {
    color: #62DDF5;
  }

  #activity_category_club_de_tir:checked + label {
    background-color: #62DDF5;
    border-color: #62DDF5;
  }

  #activity_category_laser_game + label {
    color: #62DDF5;
  }

  #activity_category_laser_game:checked + label {
    background-color: #62DDF5;
    border-color: #62DDF5;
  }

  #activity_category_masssage + label {
    color: #62DDF5;
  }

  #activity_category_massage:checked + label {
    background-color: #62DDF5;
    border-color: #62DDF5;
  }
