// .container-filtre{
  // background: radial-gradient(circle at right, rgb(201, 201, 201) 20%, rgb(72, 72, 72) 50%), #000;
//   height: 100vh;
// }

.filtre-new{
  margin: 0 20px;
  color: #FC814A;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

// .filtre select,
// .filtre input[type="text"],
// .filtre input[type="submit"] {
//   border-radius: 7px;
// }

.container-filtre {
  // background: radial-gradient(circle at right, #E8E8E8 10%, #96939B 70%), #000;
  background-color: #000;
  min-height: 150vh;
  }

  .logo img {
  max-width: 100%;
  }

  .filtre {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
  }

  .input-group {
    margin-bottom: 20px;
  }

  .input-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .input-group select,
  .input-group input[type="text"],
  .input-group input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: #E8E8E8;
    font-size: 1.2rem;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
  }

  .input-group input[type="submit"] {
    background-color: #FC814A;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .input-group input[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #FC814A;
    border: 2px solid #FC814A;
  }

  .button {
    display: inline-block;
    background-color: #FC814A;
    color: #fff;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    margin-top: 20px;
  }

  .button:hover {
    background-color: #FF9C5B;
    color: #FFFFFF;
  }

  @media screen and (max-width: 768px) {
  .filtre {
  max-width: 100%;
  }
  }

.container-filtre {
  .form-label {
    color: #F94892;
    font-family: 'Rubik Mono One', sans-serif;
  }
  .col-form-label{
    color: #F94892;
    font-family: 'Rubik Mono One', sans-serif;
  }
}

  .category-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
  }

  .category-item {
    flex: 0 0 30%;
  }

  .category-selector {
    position: absolute;
    transform: scale(0);
  }

  .category-selector + label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 10px 10px 20px 10px;
    border: 1px solid #F94892;
    border-radius: 12px;
    background-color: white;
    font-family: 'Kanit', sans-serif;
    line-height: 100%;
    height: 93px;
  }

  .category-selector:checked + label {
    color: white !important;
  }


  #activity_catégorie_bar + label {
    color: #f992ad;
    background-image: asset_url("cocktails.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    background-size: 44%;
  }

  #activity_catégorie_bar:checked + label {
    background-color: #f992ad;
    border-color: #f992ad;
  }


  #activity_catégorie_restaurant + label {
    color: #fbbcee;
    background-image: asset_url("cloche.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    background-size: 40%;
  }

  #activity_catégorie_restaurant:checked + label {
    background-color: #fbbcee;
    border-color: #fbbcee;
  }


  #activity_catégorie_patinoire + label {
    color: #fab4c8;
    background-image: asset_url("botte-de-neige.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    background-size: 33%;
  }

  #activity_catégorie_patinoire:checked + label {
    background-color: #fab4c8;
    border-color: #fab4c8;
  }

  #activity_catégorie_bowling + label {
    color: #f78ecf;
    background-image: asset_url("bowling.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    background-size: 33%;
  }

  #activity_catégorie_bowling:checked + label {
    background-color: #f78ecf;
    border-color: #f78ecf;
  }

  #activity_catégorie_piscine + label {
    color: #cfb9f7;
    background-image: asset_url("piscine.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    background-size: 33%;
  }

  #activity_catégorie_piscine:checked + label {
    background-color: #cfb9f7;
    border-color: #cfb9f7;
  }

  #activity_catégorie_escape_game + label {
    color: #f4989c;
    background-image: asset_url("exit.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    background-size: 50%;
  }

  #activity_catégorie_escape_game:checked + label {
    background-color: #f4989c;
    border-color: #f4989c;
  }

  #activity_catégorie_quizz + label {
    color: #a480f2;
    background-image: asset_url("speech-bubble.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    background-size: 45%;
  }

  #activity_catégorie_quizz:checked + label {
    background-color: #a480f2;
    border-color: #a480f2;
  }

  #activity_catégorie_parc_loisirs + label {
    color: #fec89a;
    background-image: asset_url("mode-de-vie.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    background-size: 40%;
  }

  #activity_catégorie_parc_loisirs:checked + label {
    background-color: #fec89a;
    border-color: #fec89a;
  }

  #activity_catégorie_karaoké + label {
    color: #c580ed;
    background-image: asset_url("karaoke.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    background-size: 33%;
  }

  #activity_catégorie_karaoké:checked + label {
    background-color: #c580ed;
    border-color: #c580ed;
  }

  #activity_catégorie_club_de_tir + label {
    color: #ff9286;
    background-image: asset_url("tir-a-larc.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    background-size: 33%;
  }

  #activity_catégorie_club_de_tir:checked + label {
    background-color: #ff9286;
    border-color: #ff9286;
  }

  #activity_catégorie_laser_game + label {
    color: #ff92b1;
    background-image: asset_url("laser-gun.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    background-size: 50%;
  }

  #activity_catégorie_laser_game:checked + label {
    background-color: #ff92b1;
    border-color: #ff92b1;
  }

  #activity_catégorie_massage + label {
    color: #ff5d8f;
    background-image: asset_url("massage-corporel.png");
    background-repeat: no-repeat;
    background-position: 92%;
    background-size: contain;
    background-size: 45%;
  }

  #activity_catégorie_massage:checked + label {
    background-color: #ff5d8f;
    border-color: #ff5d8f;
  }

  // #lecture_category_gastronomie + label {
  //   color: #62DDF5;
  //   background-image: asset_url("icon-gas.png");
  //   background-repeat: no-repeat;
  //   background-position: 90%;
  //   background-size: contain;
  //   background-size: 20%;
  // }
