.container-filtre{
  background: radial-gradient(circle at left, rgb(201, 201, 201) 10%, rgb(72, 72, 72) 70%), #000;
  height: 100vh;
}

.filtre{
  margin: 0 20px;
  color: #5D3891;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

.filtre select,
.filtre input[type="text"],
.filtre input[type="submit"] {
  border-radius: 10px;
}
