h2 {
  color: white;
  font-family: 'Kanit', sans-serif;
}

.container-show {
  background: radial-gradient(circle at right, rgb(201, 201, 201) 10%, rgb(72, 72, 72) 70%), #000;
  h2 {
    margin-top: 20px;
  }
}

span {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}

p {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}

.p-card {
color: #000;
}

.h2-activity {
  color:#F99417;
}

h3 {
  color: white;
  font-family: 'Kanit', sans-serif;
}


.show-address {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.show-time {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  span {
    color: #FF8B13;
    font-weight: 300;
  }
}
.title-booking{
  font-weight: 200;
}

.link {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  color: #ffffffa1;
  text-shadow: 0 0 10px #ffffffe0, 0 0 20px #ffffffe0, 0 0 30px #ffffffe0, 0 0 40px #A81DF7, 0 0 70px #A81DF7, 0 0 80px #A81DF7, 0 0 100px #A81DF7, 0 0 150px #A81DF7;
}

.fa-solid {
  color: lightgrey;
}
.fa-solid::before {
  margin-right: 12px;
}

.fa-calendar {
  color: lightgrey;
}

.fa-calendar::before {
  margin-right: 12px;
}
