<div class="container">
<div class="body">
    <br>
  <h2 class="title">Mes réservations</h2>
  <div class="body-bookings">
      <p class="text-center"> Découvrez ici toutes vos <span><strong>réservations</strong></span></p>
      <br>
      <% @my_bookings.each do |booking| %>
          <h3> ⚡️ <%#= @value += 1 %><%= booking.activity.name %></h3>
          <br>
              <div class= "image-show">
                <%= cl_image_tag booking.activity.photo.key%>
              </div>
            <%#= link_to booking.activity.name, booking_path(booking) %>
          <br>
          <div class="text-center">
            <div class="button-booking">
            <%= link_to "Voir cette réservation", booking_path(booking) %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
