

<div class="container-bookings">
    <div class= "logo">
      <%= image_tag("logo.png")%>
    </div>
  <h2 class="title">Mes réservations</h2>
  <div class="body-bookings">
      <p class="text-center"> Découvrez ici toutes vos <span style="color: #F99417"><strong>réservations</strong></span></p>
      <% @my_bookings.each do |booking| %>
          <h3> ⚡️ <%#= @value += 1 %><%= booking.activity.name %></h3>
          <%#= booking.activity.description %>
          <%#= cl_image_tag booking.activity.photo.key, width: 400, height: 400, crop: :fill, class: "d-block w-100", alt: booking.activity.name %>
              <div class= "image-show">
                <%= cl_image_tag @activity.photo.key%>
              </div>
            <%#= link_to booking.activity.name, booking_path(booking) %>
        <div class="filtre">
          <br>
          <div class="button-home">
            <div class="text-center">
            <%= link_to "Voir cette réservation", booking_path(booking) %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
