<div class="footer-phone">
  <div class="footer-flex">
    <div class="title-footer">
      <h4>A propos</h4>
        <p>Pourquoi PerfectNight?</p>
        <p>On recrute</p>
    </div>

    <div class="title-footer">
      <h4>Villes</h4>
        <p>Paris</p>
        <p>Lyon</p>
        <p>Toulouse</p>
        <p>Poitiers</p>
        <p>Voir tout</p>
    </div>

    <div class="title-footer">
      <h4>Support</h4>
        <p>Centre d'aide</p>
        <p>Nous contacter</p>
    </div>

    <div class="title-footer">
      <h4>Sur les réseaux</h4>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>LinkedIn</p>
    </div>
  </div>
  <br>
  <p>© 2023 PerfectNight. Tous droits réservés.</p>
</div>
