<div class="navbar-phone">
      <div class="navbar-icons">
        <%= link_to root_path do %>
        <i class="fas fa-home"></i>
        <% end %>
        <%= link_to "#" do %>
        <i class="fas fa-search"></i>
        <% end %>
        <%= link_to "#" do %>
        <i class="fa-solid fa-ticket"></i>
        <% end %>
        <%= link_to "#" do %>
        <i class="fa-solid fa-user"></i>
        <% end %>
</div>
