.button-show {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  vertical-align: center;
  align-items: flex-end;
}

.button-show :hover {
  color: #610E89;
}

.delete-button {
  color: #610E89;
}

.delete-button:hover {
  color: black;
}

.btn-reviews {
  background: white;
  text-decoration: none;
  border-radius: 5px;
  f {
  font-weight: 200;
  }
}

.btn-delete-show {
  color: black;
  text-decoration: none;
  align-self: self-end;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.button-activity {
  display: block;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  background-color: #FC814A;
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 16px;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: 500;
}
