.button-show {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  vertical-align: center;
  align-items: flex-end;
}

.button-show :hover {
  color: #610E89;
}

.delete-button {
  color: #610E89;
}


.btn-reviews {
  display: block;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  background-color: #FC814A;
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: smaller;
  text-decoration: none;
  font-weight: lighter;
  font-family: 'Rubik Mono One', sans-serif;
  margin-top: 30px;
}

.btn-delete-show {
  color: #fed2e6;
  text-decoration: none;
  align-self: self-end;
  font-size: x-small;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.button-activity {
  display: block;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  background-color: #FC814A;
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 4vw;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: 500;
}

.button-booking {
  margin-bottom: 30px;
}

// input[type="radio-buttons"] {
//   /* ...existing styles */
//   display: grid;
//   place-content: center;
// }

// input[type="radio-buttons"]::before {
//   content: "";
//   width: 0.65em;
//   height: 0.65em;
//   border-radius: 50%;
//   transform: scale(0);
//   transition: 120ms transform ease-in-out;
//   box-shadow: inset 1em 1em var(--form-control-color);
// }

// input[type="radio-buttons"]:checked::before {
//   transform: scale(1);
//   color: #fdffb6;
// }
