.card {
  width: 100%;
  height: 100%;
  background-color: #ffe5ec;
  padding: 15px;
  border-style: none;
  margin-bottom: 25px;
  a {
    font-size: 5vw;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-family: "Space Grotesk", Roboto, Arial, Helvetica, sans-serif;
  }
  a.color-grey {
    color: grey;
    font-size: 2.5vw;
    font-weight: 200;
    text-decoration: none;
  }
  img {
    border-radius: 3px;
    vertical-align: bottom;
  }
  span.card-color-white {
    color: white;

  }
  span.button-price {
    font-size: xx-small;
    border: solid;
    padding: 2px;
    width: fit-content;
    border-radius: inherit;
    border-color: grey;
  }
  span {
    color: #FF8B13;
    font-size: 3vw;
    font-weight: 500;

    .card-color-grey {
      color: grey;
    }
    .card-color-white {
      color: white;
    }
  }
}

.card-activity {
  width: 50%;
  height: 50%;
  
}


.card-reviews {
    background-color:#606060;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
}

.card-review {
  background-color: #838383;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 10px;
}

.card-booking {
  background-color: #e4c1f9;
  margin: 8px 5px;
  border-radius: 5px;
  padding: 8px;
  vertical-align: center;
}
