.card-activity {
  background-color: $rosePastel;
  padding: 15px;
  border-style: none;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  font-family: $headers-font;
  .activity-description-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-border {
    border: solid 2px #F94892;
    border-radius: 6px;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    vertical-align: bottom;
    filter: grayscale(100%);
  }
  a {
    font-size: 4vw;
    text-decoration: none;
    color: black;
  }
  span.card-color-black {
    color: black;
  }
  span.card-color-grey {
    color: grey
  }
  span {
    color: #FF8B13;
    font-size: 3vw;
    font-weight: 500;
  }
}


.card-reviews {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
}

.card-review {
  background-color: black;
  border: solid #fed2e6;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 10px;
}

.card-booking {
  background-color: #ffe5ec;
  margin: 8px 5px;
  border-radius: 5px;
  padding: 8px;
  vertical-align: center;
}
