h2 {
  font-family: 'Kanit', sans-serif;
}

p {
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
}

h3 {
  font-family: 'Kanit', sans-serif;
}

link {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}
.container {
  width: 100%;

}
