.image-show {
  display: flex;
  justify-content: center;
  border: solid 2px #F94892;
  border-radius: 5px;
  img {
    // width: 80vw;
    // height: auto;
    width: 80vw;
    height: 50vw;
    border-radius: 5px;
    filter: grayscale(100%);
  }
}
