.info-window {
  border: solid 2px black;
  border-radius: 5px;
  h2 {
    color: black;
    font-size: small;
    font-family: 'Rubik Mono One', sans-serif;
  }
  p {
    color: black;
    font-family: 'Kanit', sans-serif;
    text-align: center;
  }
}
