.navbar-phone {
  display: none;
  z-index: 1000;
  padding-top: 15px;
  padding-bottom: 15px;
  // position: sticky;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: #222222;
    .btn-plus-icon {
      border-radius: 50px;
      background: #ffffff;
      transition: background 0.3s ease;
    }
    .btn-plus-icon i {
      color: white !important;
      display: flex;
      text-align: center;
    }

    .navbar-icons {
      display: flex;
      align-items: space-between;
      margin: auto;
    }
    i {
      margin: 0 30px;
      color: white;
      font-size: 20px;
    }
}

.navbar-show {
  background-color: #FC814A;
  a {
    text-decoration: none;
    color: white;
  }
  display: inline-block;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: small;
}

@media(max-width: 992px) {
  .footer {
    display: none;
  }
  .navbar-phone {
    display: flex;
  }
  .full-height {
    min-height: calc(100vh - 107px);
  }
}

@media(max-width: 768px) {
  .footer {
    display: none;
  }
  .navbar-phone {
    display: flex;
  }
}

@media(min-width: 992px) {
  body {
    margin-bottom: 0 !important;
  }
}
