/* Esthétique des éléments en haut à gauche */
form{
  margin-top:20px;
  margin-bottom:50px;
}
#nombre{
  background-color:#E8EEF2;
}

/* Placement de la roulette */
#roulette{
  background-image:"https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shopify.com%2Ffr%2Fblog%2F47729285-les-22-meilleures-banques-d-images-gratuites-et-libres-de-droits&psig=AOvVaw0s_9obhjPNzenKIMtcJUOi&ust=1676117905563000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCMjUp_T3iv0CFQAAAAAdAAAAABAE";
  position:absolute;
  margin-left:40%;
}

/* Placement de la fleche */
#fleche{
  position:absolute;
  margin-left:51%;
  margin-top:275px;
    /* Centre de rotation de la flèche. Attention, selon les navigateurs, il faut l'écrire differemment. C'est pourquoi il y a 5 fois la même ligne. */
  transform-origin: 32%; /* CSS3 */
  -moz-transform-origin: 32%; /* Firefox */
  -webkit-transform-origin: 32%; /* Webkit */
  -o-transform-origin: 32%; /* Opera */
  -ms-transform-origin: 32%; /* IE 9 */
}
