<% if user_signed_in? %>
<div class="container">
<br>
  <h1 class="title">Perfect Night</h1>
  <div class="banner"></div>
  <br>
    <div style="text-align:center">
      <p class="description">
      </p>

  <% end %>
</div>
